<?xml version="1.0"?>
<configuration>
  <!-- Installer writes a token-free external appSettings file. Empty settings fail closed. -->
  <appSettings />
  <system.web>
    <compilation targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="20480" executionTimeout="60" />
    <customErrors mode="RemoteOnly" />
    <authentication mode="None" />
    <authorization><allow users="*" /></authorization>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="SimpleHandlerFactory-Integrated-4.0" />
      <add name="WebCADServicesGateway" path="api.ashx" verb="GET,HEAD,POST,OPTIONS" type="System.Web.UI.SimpleHandlerFactory" resourceType="File" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpErrors existingResponse="PassThrough" />
    <security><requestFiltering><requestLimits maxAllowedContentLength="20971520" /></requestFiltering></security>
  </system.webServer>
</configuration>
